In [51]:
import pandas as pd

In [52]:
df = pd.read_csv('g14_event_management_events_attendees_with_venues_merged.csv', delimiter=';')

In [53]:
df.head(13)

,events_id,attendee_id,registration_date,seat,event_name,location,event_date,venues_id,attendee_name,email,ticket_type,venue_name,capacity
0,498,639,14/01/2025,p,final,Carriechester,06/02/2025,19,Veronica Herman,dianavillanueva@example.com,Regular,Jackson Ltd,544
1,189,355,07/01/2025,N,reach,Christopherhaven,01/02/2025,8,Nicole Johnson,nguyenrachel@example.com,Regular,Humphrey and Sons,169
2,313,350,29/01/2025,V,must,New Ericview,10/02/2025,17,Amanda Taylor,russellstephanie@example.org,VIP,"Jones, Clark and Mckinney",245
3,386,654,26/01/2025,p,Congress,North Dylan,02/02/2025,6,Emily Nelson,alyssacoleman@example.com,Regular,Ward PLC,742
4,51,1063,12/01/2025,m,four,Greenborough,02/02/2025,11,Heidi Hill,nsmith@example.net,VIP,"Lee, Erickson and Velez",990
5,93,1147,07/02/2025,H,tax,Ashleyburgh,19/02/2025,8,Angela Brown,mcleanjerry@example.com,VIP,Humphrey and Sons,169
6,140,1832,10/02/2025,J,operation,Hendersonborough,01/02/2025,5,Christopher Lee,ewood@example.org,Regular,Davis-Morgan,257
7,151,11,20/01/2025,D,available,Caldwellfurt,15/02/2025,5,Mr. Richard Campbell,farrellthomas@example.com,VIP,Davis-Morgan,257
8,311,678,05/01/2025,C,also,East Andrewborough,07/01/2025,11,Alexander Thornton,lauren06@example.com,VIP,"Lee, Erickson and Velez",990
9,312,1075,08/01/2025,x,detail,Port Heather,20/02/2025,7,Kristy Blake,wilsontaylor@example.org,Regular,Webb PLC,551
10,410,334,07/01/2025,W,as,Port Christinamouth,05/01/2025,14,Elizabeth Jones,tami47@example.org,VIP,"Dunn, Cooper and Gross",988
11,192,1052,02/02/2025,K,soldier,Port Amandachester,09/02/2025,10,John Miller,torresshane@example.net,Regular,Wright LLC,289
12,498,360,07/02/2025,r,final,Carriechester,06/02/2025,19,Lisa Walker,glong@example.org,VIP,Jackson Ltd,544

In [54]:
Events = df.loc[:,['events_id','event_name','event_date']]

In [55]:
Events.columns=['id', 'name', 'edate']

In [56]:
Events['edate'] = pd.to_datetime(Events['edate'], format='%d/%m/%Y').dt.strftime('%Y-%m-%d')

In [57]:
Events.drop_duplicates(subset='id',inplace=True)

In [58]:
from sqlalchemy import create_engine

In [59]:
engine = create_engine('sqlite:///gestao_eventos.db')

In [60]:
Events.to_sql('Events', con =engine, if_exists='replace', index=False)

498

In [61]:
Venue = df.loc[:,['venues_id','venue_name','location','capacity']]

In [62]:
Venue.columns=['id', 'name', 'location', 'capacity']

In [63]:
Venue.drop_duplicates(subset='id',inplace=True)

In [64]:
Venue.to_sql('Venue', con =engine, if_exists='replace', index=False)

20

In [65]:
Attendees = df.loc[:,['attendee_id','attendee_name','email']]

In [66]:
Attendees.columns=['id', 'name', 'email']

In [67]:
Attendees.drop_duplicates(subset='id',inplace=True)

In [68]:
Attendees.to_sql('Attendees', con =engine, if_exists='replace', index=False)

1569

In [69]:
Registrations = df.loc[:,['registration_date','ticket_type','seat']]

In [70]:
Registrations.columns=['date', 'ticket_type', 'seat']

In [71]:
Registrations.drop_duplicates(subset='seat',inplace=True)

In [72]:
Registrations.insert(0, 'id', range(1, len(Registrations) + 1))

In [73]:
Registrations['date'] = pd.to_datetime(Registrations['date'], format='%d/%m/%Y').dt.strftime('%Y-%m-%d')

In [74]:
Registrations.to_sql('Registrations', con =engine, if_exists='replace', index=False)

52

In [75]:
engine.dispose()